# Data Science Tools and Ecosystem

**Objectives:**
* List the popular languages of Data Science
* List the commonly used libraries used by Data Scientists
* List a few of the Data Science Tools
* Perform simple mathematical operations such as addition, multiplication, and division

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. SQL
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. NumPy
4. Matplotlib
5. PyTorch


|Data Science Tools  |
|------------------- |
| Tensor Flow        |
| Apache Spark       |
| Tableau            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [31]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Anand Kumar Vadlamani